body{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background-image:
  url(https://www.planwallpaper.com/static/images/Pokemon_wallpaper_3_bLP3szt.jpg);
  background-size: cover;
  background-repeat:no-repeat;


}

.btn{
  color: white;
  background-color: darksalmon;
}

#Fire, #Water, #Grass{
  display: none;
}

.well {
  background-image: url();

}
